@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@600 & family= Pacifico & display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/*--------------------------------------estilo base------------------------------------------------*/
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}
/*--------------------------------------estilo header------------------------------------------------*/.main-header{
    width: 100%;
}
.logo{
    font-size: 1.8em;
    color:black;
    padding: 10px;
    font-family: 'Pacífico', cursiva;
    font-weight: 100;
}
.main-header__contactInfor__phone{
    background:blue;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
.main-header__contactInfor__address{
    padding: 10px;
    margin: 0;
}
.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}

/*------------------------------------estilo DEL MENU------------------------------------------------*/
.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu{
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;

}
.social-icon{
    display: flex;
    justify-content: space-between;
}
.social-icon [class*="icon-"] {
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link{
    text-decoration: none;
}
.menu{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
.menu__link:hover{
    background:blue;
}
.menu__link--select{
    background:blue;
}
/*------------------------------------estilo DEL banner----------------------------------------------*/
.banner{
    margin-top: -55px;
    position: relative;
}
.banner:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1000;
    top: 0;
}
.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner__content{
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top: 50%;
    transform: translateX(6%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}
/*------------------------------------estilos principales--------------------------------------------*/
.group--color .container{
    text-align: center;
    padding: 10px;
    color: white;
    background:blue
}
.main__title{
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Pacífico', cursiva;
    font-weight: 100;
}
.column__title{
    font-size: 1.3em;
}
.main__abaut__description .column--50:nth-child(2){
    padding: 10px;
}
.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    background: blue;
}
.group__title{
    font-family: 'Pacífico', cursiva;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}
.today-special .column{
    margin-bottom: 30px;
}
.today-special__img{
    margin: auto;
    max-width: 350px;
}
.today-special__title{
    text-align: center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.today-special__price{
    text-align: center;
    font-size: 1.5em;
    color: blue;
    font-weight: bold;
}
/*------------------------------------estilo DEL footer----------------------------------------------*/
.main-footer{
    font-size: .8em;
    padding-bottom: 20px;
    padding-top: 20px;
    padding: 10px;
    color: white;
    background: #222;
}
.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.main-footer [class*="icon-"]{
    color: white;
    text-decoration: none;

}
.main-footer [class*="icon-"]:before{
    position: relative;
    top: 3px;
    right: 5px;
}
/*--------------------------------------estilo responsive-------------------------------------------*/
@media screen and (min-width:480px){
    .logo{
        color: white;
    }
}
.main-header__contactInfor{
    text-align: right;
}
.main-header__contactInfor__phone{
    background: none;
}
.main-header__contactInfoe__address{
    color: white;
    
}
.main-nav{
    background: rgba(0,0,0,0.85);
}
.banner{
    margin-top: -145px;
    z-index: -1000;
}
.banner__content{
    font-size: 2em;
}
.banner__img{
    height: 600px;
}
.column--50{
    width: 49%;
}
.column--50-25{
    width: 49%;
}
.column--33{
    width: 33%;
}
.main__abaut__description .column--50:nth-child(2){
    padding-left: 20px;
    font-size: .9em;
}
.today-special .column{
    border: 5px slid #ddd;
    padding: 5px;
}
.today-special__img{
    height: 250px;
    object-fit: cover;
}